html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#nav_bar { 
    position: fixed;
    top: 0;
    width: 100%;
    background-color: gray;
    
}

a {
    color: white;
}
ul { 
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: gray;
    
}

li {
    float:left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li:hover{ background-color:cadetblue}

#formRegistro{
border: 1px solid darkblue;
  height: 200px;
  width: 100px;
}

#campoNombre{
    border-color: rgb(52, 163, 24);
}

#campoUsuario{
    border-color: rgb(52, 163, 24);
}

#campoContraseña{
    border-color: rgb(52, 163, 24);
}

#campoTelefono{
    border-color: rgb(52, 163, 24);
}

#campoCorreo{
    border-color: rgb(52, 163, 24);
}

#campoConfirmacion{
    border-color: rgb(52, 163, 24);
}

#campoDireccion{
    border-color: rgb(52, 163, 24);
}